*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

:root {
    --primary-color: black;
    --secondary-color:white;
    --tertiary-color: #ff9400;
}

body {
    min-height: 100vh;
    width: 100%;
    max-width: 1300px;
    background-color: var(--primary-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

/*Style Header*/
header {
    padding: 15px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url("../images/sunset-palms.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 70%;
    z-index: 9999;

}

header h1 {
    font-size: 65 px;
    color: var(--secondary-color);
}
header a {
    font-weight: bold;
    text-decoration: none;
    color: var(--secondary-color);
    margin-right: 10x;
}
header nav {
    margin: 7px 0;
}
header nav ul {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

ul {
    list-style-type: none;
    padding-top: 15px;
    margin: 0;
}

li {
    display: inline-flex;
    margin-right: 15px;
}

header nav ul li a {
    display: inline-flex;
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 25px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);    
    cursor: pointer;
}

a:hover {
    color: var(--primary-color);
    background-color:var(--tertiary-color);
}
    
a:active {
    color: #ff9400;
    text-decoration: underline;
    background-color: transparent;
}
/*End Style Header*/

.hero {
    height: 375px;
    display: flex;
    background-image: url("../images/sunset-palms.jpg");
    background-size: cover;
    background-position: center;
    justify-content: left;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 70%;
    padding: 10px;
    margin-bottom: 20px;
}

.circular--square {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    width: 300px;
    margin-left: 45px;
}

section {
    margin: 5px auto;
    padding-bottom: 0px;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-end;
}

h2{
    color: var(--secondary-color);
}

#bio p {
    width: 980px;
    height: 200px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--secondary-color);
}

.feature{
    border: var(--tertiary-color);
}



#beach > .image {
    width: 990px;
    height: 500px;
    border: var(--tertiary-color);

}

.image{
    opacity: 0.3;
    width: 490px;
    height: 240px;
    margin: 5px;
}

  
  .image:hover {
    opacity: 1;
  }


/*FOOTER STYLING*/

address ul li a {
    display: inline-flex;
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 25px;
    text-shadow: 0 0 10px rgba(177, 170, 170, 0.5);
    cursor: pointer;
}

address ul li{
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

ul {
    list-style-type: none;
    padding-top: 15px;
    margin: 0;
}
  
li {
    display: inline-flex;
    margin-right: 15px;
}

footer a {
    text-decoration: none;
    color: var(--secondary-color);
    margin-right: 10x;
    
