{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

:root {
    --primary-color: black;
    --secondary-color:white;
    --tertiary-color: #ff9400;
}

body {
    min-height: 100vh;
    width: 100%;
    max-width: 1500px;
    background-color: var(--primary-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

header {
    padding: 15px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-size: cover;
    background-attachment: fixed;
    background-position: 100%;
}


header h1 {
    font-size: 65 px;
    color: var(--secondary-color);
}

header a {
    font-weight: bold;
    text-decoration: none;
    color: var(--secondary-color);
    margin-right: 10x;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

ul {
    list-style-type: none;
    padding-top: 15px;
    margin: 0;
}
  
li {
    display: inline-flex;
    margin-right: 15px;
}




header nav ul li a {
    display: inline-flex;
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 25px;
    text-shadow: 0 0 10px rgba(177, 170, 170, 0.5);
    cursor: pointer;
}

a:hover {
    color: var(--primary-color);
    background-color:var(--tertiary-color);
}
    
a:active {
    color: #ff9400;
    text-decoration: underline;
    background-color: transparent;
}

.hero {
    
    height: 375px;
    display: flex;
    background-image: url("../images/sunset-palms.jpg");
    background-size: cover;
    background-position: center;
    justify-content: left;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 70%;
    padding: 10px;
}


.circular--square {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    width: 300px;
    margin-left: 45px;
}

.container {
    display: grid;
    gap: 5px;
}

.container > div {
    padding: 5px;

}

.container2 {
    display: grid;
    grid-template-columns:  300px  1000px  100px ;
    grid-template-rows: 400px 400px;
    margin: 10px;
}

.container2 > div {
    padding: 5px;
}

p{
    color: var(--secondary-color);
    grid-column;  2 /span 1; 
}

.container3 {
    display: grid;
    grid-template-columns:  300px  500px  500 100px ;
    grid-template-rows: 400px 400px;
    margin: 10px;

}

.container3 > div {
    padding: 5px;
} 

.pic{
border: 5px;
border-color: var(--primary-color);
}

h2 {
    float:right;
    font-size: larger;
    color: var(--secondary-color);
}


#one .info {
    color: var(--secondary-color);
    margin-right: 10px;
    border: 3px;
    border-right: var(--secondary-color);
    grid-column:  1 /span 2; 
} 

#two .pic {
    color: var(--secondary-color);
    margin-right: 10px;
    border: 3px;
    border-right: var(--secondary-color);
    grid-column:  3 /span 2; 
}  

#three .info {
    color: var(--secondary-color);
    margin-right: 10px;
    border: 3px;
    border-right: var(--secondary-color);
    grid-column:  2 /span 3; 
} 

#four .pic {
    color: var(--secondary-color);
    margin-right: 10px;
    border: 3px;
    border-right: var(--secondary-color);
    grid-column:  3 /span 2; 
}  

#five .info {
    color: var(--secondary-color);
    margin-right: 10px;
    border: 3px;
    border-right: var(--secondary-color);
    grid-column:  1 /span 2; 
} 

#six .pic {
    color: var(--secondary-color);
    margin-right: 10px;
    border: 3px;
    border-right: var(--secondary-color);
    grid-column:  3 /span 2; 
}  

#seven .pic {
    color: var(--secondary-color);
    margin-right: 10px;
    border: 3px;
    border-right: var(--secondary-color);
    grid-column:  3 /span 2; 
}

#eight .info {
    color: var(--secondary-color);
    margin-right: 10px;
    border: 3px;
    border-right: var(--secondary-color);
    grid-column:  1 /span 2; 
}

#nine .pic {
    color: var(--secondary-color);
    margin-right: 10px;
    border: 3px;
    border-right: var(--secondary-color);
    grid-column:  3 /span 2; 
}

#nine .pic {
    color: var(--secondary-color);
    margin-right: 10px;
    border: 3px;
    border-right: var(--secondary-color);
    grid-column:  3 /span 2; 
}




#eleven .info {
    color: var(--secondary-color);
    margin-right: 10px;
    border: 3px;
    border-right: var(--secondary-color);
    grid-column:  1 /span 2; 
} 



#surf{
    width: 1100px;
    height: 500px;
}

.image {
    opacity: 0.3;
    display: grid;
    width: 550px;
    height: 250px;
    transition: .5s ease;
    backface-visibility: hidden;
}



.w3-card {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    text-align: center;
   
    
    text-align: center;
    
}

#waves:hover .image {
    opacity: 1;
}

#waves:hover .w3-card {
    opacity: 1;
}


#led:hover .image {
    opacity: 1;
}

#led:hover .w3-card {
    opacity: 1;
}

#calculator:hover .image {
    opacity: 1;
}

#pastel-puzzle:hover .image {
    opacity: 1;
}

#run-buddy:hover .image {
    opacity: 1;
}

#led:hover .w3-card {
    opacity: 1;
}

#calculator:hover .w3-card {
    opacity: 1;
}

#pastel-puzzle:hover:hover .w3-card {
    opacity: 1;
}

address ul li a {
    display: inline-flex;
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 25px;
    text-shadow: 0 0 10px rgba(177, 170, 170, 0.5);
    cursor: pointer;
}

address ul li{
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

ul {
    list-style-type: none;
    padding-top: 15px;
    margin: 0;
}
  
li {
    display: inline-flex;
    margin-right: 15px;
}

